<div class="container content">
  <div class="row">
    <div class="col-md-3">
      
    </div>

    <div class="col-md-6">
      <form [formGroup]="userProfileForm" (ngSubmit) = 'updateProfile(userProfileForm)' method="post">
          <button class="pull-right" mat-raised-button color="accent" (click) = 'editProfile()' *ngIf='readonly'>Edit</button>
          <button class="pull-right" mat-raised-button color="primary" [disabled]="userProfileForm.invalid" *ngIf='!readonly'>Update</button>
        <mat-form-field class="form-row">
          <mat-label>First Name</mat-label>
          <input type="text" matInput name="first_name" id="first_name" placeholder="Enter First Name" formControlName="first_name" [readonly]='readonly'>
          <mat-error *ngIf="first_name.invalid">Please Enter a First Name</mat-error>
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput name="last_name" id="last_name" placeholder="Enter Last Name" formControlName="last_name" [readonly]='readonly'>
          <mat-error *ngIf="last_name.invalid">Please Enter a Last Name</mat-error>
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Email</mat-label>
          <input type="text" matInput name="email" id="email" placeholder="Enter Email ID" formControlName="email" [readonly]='readonly'>
          <mat-error *ngIf="email.invalid">Please Enter a valid Email</mat-error>
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Username</mat-label>
          <input type="text" matInput name="username" id="username" placeholder="Enter Username" formControlName="username" [readonly]='readonly'>
          <mat-error *ngIf="username.invalid">Plaese Enter a Username</mat-error>
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Password</mat-label>
          <input type="password" matInput name="password" id="password" placeholder="Enter Passowrd" formControlName="password" [readonly]='readonly'>
          <mat-error *ngIf="password.invalid">Please Enter a passowrd</mat-error>
        </mat-form-field>

          <!-- <button mat-raised-button color="primary" [disabled]="userProfileForm.invalid">Login</button> -->
      </form>
    </div>

    <div class="col-md-3">
      <h3>Quick Links</h3>
      <mat-list>
        <mat-list-item> <a href routerLink = '/recipe/create'> Create Recipe </a> </mat-list-item>
        <mat-list-item> <a href routerLink = '/recipe/list'> My Recipes </a> </mat-list-item>
       </mat-list>
    </div>
  </div>
</div>

