<div class="container content">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="registrationForm" (ngSubmit) = 'handleRegistration(registrationForm)' method="post">
        <mat-form-field class="form-row">
          <mat-label>First Name</mat-label>
          <input type="text" matInput name="first_name" placeholder="Enter First Name" formControlName="first_name">
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput name="last_name" placeholder="Enter Last Name" formControlName="last_name">
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Email</mat-label>
          <input type="text" matInput name="email" placeholder="Enter Email ID" formControlName="email">
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Username</mat-label>
          <input type="text" matInput name="username" placeholder="Enter Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="form-row">
          <mat-label>Password</mat-label>
          <input type="password" matInput name="password" placeholder="Enter Passowrd" formControlName="password">
        </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="registrationForm.invalid">Register</button>
      </form>
    </div>
  </div>
</div>
