<div class="container content">
  <div class="row">
    <!-- mat-item -->
    <!-- mat-item end -->
    <!-- item -->
    <div class="col-md-4">
      <div class="image">

      </div>
      <div class="info">
        <span class="title">Test Title</span>
        <span class="posted-at">Mar 12,2019</span>
      </div>
      <div class="actions">
        <button mat-raised-button color="primary">View More</button>
      </div>
    </div>
    <!-- item -->
    <!-- item -->
    <div class="col-md-4">
        <div class="image">
  
        </div>
        <div class="info">
          <span class="title">Test Title</span>
          <span class="posted-at">Mar 12,2019</span>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary">View More</button>
        </div>
      </div>
      <!-- item -->
      <!-- item -->
    <div class="col-md-4">
        <div class="image">
  
        </div>
        <div class="info">
          <span class="title">Test Title</span>
          <span class="posted-at">Mar 12,2019</span>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary">View More</button>
        </div>
      </div>
      <!-- item -->
      <!-- item -->
    <div class="col-md-4">
        <div class="image">
  
        </div>
        <div class="info">
          <span class="title">Test Title</span>
          <span class="posted-at">Mar 12,2019</span>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary">View More</button>
        </div>
      </div>
      <!-- item -->
  </div>
</div>